body {
    margin: 0;
    padding: 0;
}

.top-general-text {
    position: relative;
    height: 620px;
}


@media (max-width: 1024px) {
    .top-general-text {
        max-height: 500px;
    }
}

.top-backgro {
    background-image: url(Rectangle.png);
    max-width: 100%;
    min-height: 768px;
}


@media (max-width: 667px) {
    .top-backgro {
        width: 100%;
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
}

.top-right {
    width: 37px;
    height: 40px;
}

.top {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 667px) {
    .top {
        margin-top: 24px;
        margin-left: 32px;
        margin-right: 32px;
    }
}

.top-text {
    margin-top: 130px;
    font-size: 70px;
    color: #1F3F68;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
}

@media (max-width: 667px) {
    .top-text {
        font-size: 32px;
        width: 100%;
        line-height: 37px;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 5px;
    }

    .par-top {
        width: 100%;
        text-align: center;
        
    }

    .gen-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.top-photo {
    position: relative;
    right: 50px;
    bottom: 400px;
    padding-top: 553px;
    background-image: url(illustration.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 44%; 
} 

@media (max-width: 667px) {
    .top-photo {
        background-image: none;
    }
}

@media (max-width: 1024px) {

    .top-photo {
       background-size: 30%; 
   } 

}

.gen-text {
   margin-left: 100px;
}

@media (max-width: 1024px) {
   .gen-text {
    margin-left: 32px;
   }
}

.batt {
    border-radius: 7px;
    padding: 15px;
    width: 150px;
    border: none;
    background-color: #5A98D0;
    color: white;
    margin-top: 80px;

}


@media (max-width: 667px) {
    .batt {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
        margin-top: 40px;
    }
}

.par-top {
    color: #1F3F68;    
    margin-top: 30px;
    opacity: 60%;
}

.block-top-cart {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;    
    font-size: 35px;
    justify-items: center;
    margin-top: 70px;
}

@media (max-width: 1024px) {
    .block-top-cart {
        text-align: center;
    }
}

.cart {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

@media (max-width: 667px) {
    .cart {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.backgr-cart {
    background-color: #f6f6f6;
    width: 359px;
    height: 480px;
    border-radius: 10px;
}

.top-text-cart {
    margin-top: 35px;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1F3F68;
    line-height: 30px;
}

.button-text-cart {
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1F3F68;
    line-height: 26px;
    opacity: 60%;
}

.a-cart {
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.img-cart {
    margin-left: 60px;
    margin-top: 60px;
}

.text-top-foto {
    text-align: center;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.big-top-text-foto {
    color: #000000;  
    font-size: 36px;
    line-height: 46px;
}

.top-fhoto {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .top-fhoto {
        width: 90%;
        height: auto;
        margin-left: 5%;
        /* margin-right: 5%; */
        display: block;
    }
    .top-fhoto img {
        width: 100%;
        height: auto;
    }
}

.min-fhoto{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 1024px) {
    .min-fhoto {
        width: 90%;
        height: auto;
        margin-left: 5%;
        display: flex;
        gap: 35px;
    }

    .min-fhoto img {
        width: 48%;
        height: auto;
    }
}

.footer {
    margin-top: 100px;
    width: 100%;
    height: 700px;
    background-color:  #316099;

}

.footer-top-text {
    justify-content: space-around;
}

.footer-big-text {
    font-size: 36px;
    line-height: 46px;
}

.footer-min-text {
    opacity: 60%;
}

.footer-butonn {
    position: relative;
    margin-left: 80%;
    top: 250px;
    padding: 13px 60px;
    background-color: #5A98D0;
    color: white;
    border: none;

}

@media (max-width: 1024px) {
    .footer-butonn {
        padding: 5px 20px;
        margin-left: 70%;
    }
}

.top-footer {
    position: absolute;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 120px;
    padding-top: 100px;
}

@media (max-width: 1024px) {
    .top-footer {
        margin-left: 5%;
    }
}

hr {
    position: relative;
    top: 500px;
}

.gen-spicka {
    width: 100%;
    height: auto;
    display: block;
    float: left;
}


.spicka {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 550px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    list-style-type: decimal;
}

@media (max-width: 1024px) {
    .spicka {
        flex-direction: column;
        line-height: 40px;
        top: 500px;
    }
}

.header-general-text {
    color: aliceblue;
    padding-top: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-top-par {
    tab-size: 20px;
    line-height: 25px;
    opacity: 60%;
    margin-top: 30px;
}

.header-Contact {
    background-image: url(Mask\ Group-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 50px;
}

@media (max-width: 1024px) {
  
}

.Message {
    margin-top: 50px;
    width: 40%;
    /* height: 614px; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgba(16, 122, 177, 0.2);
    padding: 30px 50px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@media (max-width: 667px) {
    .Message {
        width: 90%;
    }
}


.send-us {
    color: #1F3F68;
}

.message-parag {
    color: #1F3F68;
    opacity: 80%;
    max-width: 250px;
}

.input-message {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #356EAD;
    opacity: 40%;
}


input::placeholder {
    color: #1F3F68;
    opacity: 20%;
    text-align: start;
}

.message-buton {
    display: block;
    justify-content: center;
    margin-top: 50px;
    padding: 20px 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #5A98D0;
    color: white;
}

.input-message--textarea {
    height: 8em;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
}

.top-spicok {
    flex-direction: column;
    display: block;
    text-align: start;
    /* margin-left: 23%; */
    margin-top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-spocok-h3 {
    color: #1F3F68;
    font-size: 20px;
}

.text-gen-p {
    color: #1F3F68;
    opacity: 60%;
    font-size: 16px;
    line-height: 26px;
}

.namber-phone-gen {
    padding-left: 0;
}

.namber-phone {
    color: #1F3F68;
    opacity: 60%;
    font-size: 16px;
    list-style-type: none;
    line-height: 40px;
}

.namber-phone::before {
    content: url(Vector.png);
    margin-right: 20px;
    position: relative;
    top: 4px;
}


.carta-yandex {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.servs-gen {
    padding-left: 0;
}

.servs {
    color: #1F3F68;
    opacity: 60%;
    font-size: 16px;
    list-style-type: none;
    line-height: 40px;
}

.servs::before {
    content: url(ic_email_24px.png);
    margin-right: 20px;
    position: relative;
    top: 6px;
}

.servs-1 {
    color: #1F3F68;
    opacity: 60%;
    font-size: 16px;
    list-style-type: none;
    line-height: 40px;
}

.servs-1::before {
    content: url(ic_language_24px.png);
    margin-right: 20px;
    position: relative;
    top: 6px;
}

.gen-class {
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
}


